.nav-links {
  width: 100%;
  top: 5rem;
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.expanded {
  display: unset;
}

@media (min-width: 636px) {
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-top: 20px;
  }
}
