---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Jessica Wilkins";
const pageDescription =
  "Jessica Wilkins is a software engineer and musician based in Los Angeles, CA. She is passionate about diversity and inclusion in tech and classical music. She is also passionate about JavaScript and React.";
---

<BaseLayout pageDescription={pageDescription} pageTitle={pageTitle}>
  <h1>My story</h1>

  <h2>Life as a musician and teacher pre pandemic</h2>

  <p>
    Before 2020, I was busy working as a professional musician(oboist) in
    Southern California. I was working all of the time (80+ hours/per week)
    doing indie recording sessions, teaching music lessons, performing concerts,
    and running an online sheet music company. I loved my life as a musician
    even though it was very busy and stressful at times. I never imagined doing
    anything else until the pandemic hit.
  </p>

  <h2>The pandemic and the Black Excellence Music Project</h2>

  <p>
    When the pandemic hit, I lost all of my work and was forced to stay home. It
    was depressing not being able to perform and teach. So I through all of my
    energy into the only thing I could which was my online sheet music company.
    During this difficult time, race relations in the United States were at an
    all time high. This sparked a conversation within many industries about the
    lack of diversity and inclusion. The classical music industry was no
    exception.
  </p>

  <p>
    I started to have friends reach out to me about black composers within the
    classical world. As a black classical musician, I was very familiar with the
    lack of diversity in the classical music world. I had already researched and
    performed music by black composers for years. I had the resources and
    knowledge to help my friends and colleagues find music by black composers.
    This prompted me to start the Black Excellence Music Project.
  </p>

  <p>
    I wanted to create an educational resource where people could learn about
    black composers and their music. So I decided to learn how to code and build
    the website myself. I started learning HTML, CSS and JavaScript with
    freeCodeCamp and immediately fell in love with the resources and community.
    I finished the Black Excellence Music Project after months of coding and
    shared with my community. The site was well recieved and I found a new
    passion which was coding.
  </p>

  <h2>Goodbye Mozart, Hello JavaScript</h2>

  <p>
    I never imagined that I would be a software engineer. I always assumed that
    I would be a musician for the rest of my life. And in some ways I still am a
    musician but now I am also a software engineer.
  </p>

  <p>
    I have traded in making oboe reeds and practicing Mozart for fixing bugs and
    working with JavaScript. This blog is dedicated to sharing my story and what
    is going on in my life as a software engineer.
  </p>
</BaseLayout>
