---
import { LATEST_ARTICLES } from "../constants";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Jessica Wilkins Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to my blog!</h1>

  <h2>Latest articles</h2>

  <ul>
    {
      LATEST_ARTICLES.map(({ path, title }) => (
        <li>
          <a href={path}>{title}</a>
        </li>
      ))
    }
  </ul>

  <h2>Most popular articles</h2>
</BaseLayout>
