---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Jessica Wilkins Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to my blog!</h1>

  <h2>Latest articles</h2>

  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
