---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>From Mozart to JavaScript Blog</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <h1>Welcome to my blog!</h1>

    <h2>Latest articles</h2>

    <ul>
      <li>
        <a href="/posts/how-to-survive-a-tech-layoff"
          >How to Survive a Tech Layoff</a
        >
      </li>
    </ul>

    <h2>Most popular articles</h2>
  </body>
</html>
