---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "From Mozart to JavaScript";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>From Mozart to JavaScript</h1>
  <p>
    This is a blog documenting my journey from transitioning from being a
    professional classical musician to professional software developer. I talk
    about my professional experience so far and what I am learning along the
    way.
  </p>
</BaseLayout>
