---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "From Mozart to JavaScript";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="homepage-container">
    <h1>From Mozart to JavaScript</h1>
    <p>
      This is a blog documenting my journey transitioning from being a
      professional classical musician to a professional software developer. I
      talk about my professional experience so far and what I am learning along
      the way.
    </p>
  </main>
</BaseLayout>
