---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
const pageTitle = "From Mozart to JavaScript";
---

<BaseLayout pageTitle={pageTitle}>
  <main class="homepage-container">
    <h1>From Mozart to JavaScript</h1>
    <div class="description-container">
      <Image
        class="profile-image"
        height="200"
        width="200"
        src="/jw-profile.jpeg"
        alt="Jessica Wilkins profile"
      />
      <p>
        In the pre-pandemic era, I was working as a professional classical
        musician. But the pandemic introduced me to the world of programming and
        my path has since led me to become a professional software developer.
        This blog explores my current life and the unique journey that brought
        me to this point.
      </p>
    </div>
  </main>
</BaseLayout>
