---
const date = new Date();
const year = date.getFullYear();
const footerLinks = [
  {
    name: "Twitter",
    url: "https://twitter.com/codergirl1991",
  },
  {
    name: "Github",
    url: "https://github.com/jdwilkin4",
  },
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/jessica-wilkins-developer",
  },
];
import "../styles/footer.css";
---

<footer>
  <div class="social-media-container">
    <div class="flex-container">
      {
        footerLinks.map(({ name, url }) => (
          <a
            href={url}
            target="_blank"
            rel="noreferrer noopener"
            class="social-media-link"
          >
            {name}
          </a>
        ))
      }
    </div>
  </div>
  <p class="copyright">Copyright &copy; {year}</p>
</footer>
